# Игнорировать виртуальное окружение (venv, virtualenv, env, и т. д.)
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать миграции базы данных Django
*.db
*.sqlite3

# Игнорировать логи и файлы отладки Django
*.log
*.log.*
*.test

# Игнорировать настройки PyCharm
.idea/

# Игнорировать файлы секретных ключей (не храните их в репозитории)
*.secret_key

# Игнорировать файлы среды (по умолчанию .env, но можно настроить на свой вкус)
.env

# Игнорировать файлы для отладки и профилирования
.profiling/
debug.log

# Игнорировать файлы временных решений и настроек PyCharm
*.iml
*.iws
*.ipr

# Игнорировать файлы и папки, созданные системами ОС
.DS_Store
Thumbs.db

# Игнорировать файлы, созданные во время тестирования и сборки проекта
.coverage
htmlcov/
dist/
build/
